/* 改变主题色变量 */
$--color-primary: #1890ff;
$--color-danger: #ff4d4f;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

$--fade-linear-transition: opacity 100ms linear !default;

@import "~element-ui/packages/theme-chalk/src/index";

.el-select {
  width: 100%;
}
