/* 改变主题色变量 */
$--color-primary: #1890ff;
$--color-danger: #ff4d4f;

@import "node_modules/element-ui/packages/theme-chalk/src/index";

// ali ICON
.al-icon {
  color: #eee !important;
  text-align: center;
  font-size: 1.3rem;
  width: 2rem;
  height: 2rem;
  margin-right: 6px;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}
